In [1]:
%%html
<style type='text/css'>
.CodeMirror{
font-size: 11px;
</style>

two ways of addressing the missing rows issue: 
- split pdf into 300 independent ones -> convert .pdf to .pkl -> run on parse.py
- .pdf to .txt to .csv -> rewrite parse.py file according to the .csv

---
way1

In [3]:
import pandas as pd
import tabula
from tabula import read_pdf

ls = []
for i in range(0, 300):
    df = read_pdf("split_drug/document-page%s.pdf" % i, pages=1)[0]
    ls.append(df)

In [9]:
ls[171]

,91.76946941,107.0566131,103.7008986,101.8764215,94.59818044,63.59544998,49.63660991,55.39259238,91.76946941.1,85.43089762,...,1.165178636,83.19375464,78.34661151,83.19375464.1,3.658660918,33.60375188,40.31518082,-1.817678673,49.42687776,9.368036237
0,87.660553,95.976810,95.936828,114.104661,99.713818,70.008496,47.358689,58.173822,96.296667,80.303863,...,10.515268,85.421560,71.987606,77.105303,5.077715,24.968764,47.298716,10.835124,21.390374,2.838723
1,99.900951,97.365293,109.409667,110.730654,99.267766,57.111727,51.406498,31.755151,60.598257,89.441363,...,6.893819,69.473059,75.178288,81.834390,2.912044,21.929477,34.924723,0.059429,12.123613,2.278130

---
way2

In [7]:
drug = pd.read_csv("data_drug/drug.txt")

In [8]:
drug

        AMP1CPR1ERY1DOX1TMP1
0                        AMP
1                        CPR
2                        ERY
3                        DOX
4                        TMP
...                      ...
1812071          101.2382184
1812072          4.564775457
1812073           3.38199963
1812074           68.3792275
1812075                92.07

[1812076 rows x 1 columns]

In [2]:
import pickle
with open("./area_pdf_v2.pkl", "wb") as f: 
    pickle.dump(ls, f)