In [1]:
%%html
<style type='text/css'>
.CodeMirror{
font-size: 11px;
</style>

In [2]:
import pandas as pd
import numpy as np

In [48]:
drug_0_171 = pd.read_csv("./drug_add_0_170.csv")

---

In [50]:
drug_173_227 = pd.read_csv("./drug_add_173_227.csv")
#drug_173_227.head(1)

  Unnamed: 0          0    1    2    3    4
0       AMP2  99.900951  0.0  0.0  0.0  0.0

---

In [52]:
drug_228_290 = pd.read_csv("./drug_add_228_290.csv")
#drug_228_290.head(1)

  Unnamed: 0    0    1    2    3    4
0       FOX3  0.0  0.0  0.0  0.0  0.0

---

In [56]:
drug_293_300 = pd.read_csv("./drug_add_293_300.csv")
#drug_293_300.head(1)

  Unnamed: 0           0    1    2    3    4
0       FOX3  111.191597  0.0  0.0  0.0  0.0

---

In [64]:
drug_0_171.append(drug_173_227).append(drug_228_290).append(drug_293_300).to_csv("drug_all.csv")

/var/folders/gh/3pd23sd51hn2p7774mv2zt4r0000gn/T/ipykernel_6647/369067349.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  drug_0_171.append(drug_173_227).append(drug_228_290).append(drug_293_300).to_csv("drug_all.csv")
/var/folders/gh/3pd23sd51hn2p7774mv2zt4r0000gn/T/ipykernel_6647/369067349.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  drug_0_171.append(drug_173_227).append(drug_228_290).append(drug_293_300).to_csv("drug_all.csv")

In [63]:
len(drug_0_171) + len(drug_173_227) + len(drug_228_290) + len(drug_293_300)

403341

In [86]:
df = drug_0_171.append(drug_173_227).append(drug_228_290).append(drug_293_300)

/var/folders/gh/3pd23sd51hn2p7774mv2zt4r0000gn/T/ipykernel_6647/3038792341.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = drug_0_171.append(drug_173_227).append(drug_228_290).append(drug_293_300)
/var/folders/gh/3pd23sd51hn2p7774mv2zt4r0000gn/T/ipykernel_6647/3038792341.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = drug_0_171.append(drug_173_227).append(drug_228_290).append(drug_293_300)

In [107]:
#df[len(df['Unnamed: 0']) == 4]
df_5_drugs = df[df["Unnamed: 0"].apply(lambda x: len(str(x))==24)]

In [123]:
len(df_5_drugs["Unnamed: 0"])/5

2602.2

In [117]:
test_cnt = int(len(df_5_drugs["Unnamed: 0"])/5)
drug_test = df_5_drugs[-test_cnt:]
drug_5_train = df_5_drugs[:-test_cnt]

In [118]:
drug_1234 = df[df["Unnamed: 0"].apply(lambda x: len(str(x))<24)]
frames = [drug_1234, drug_5_train]
result = pd.concat(frames)

In [119]:
len(result) + len(drug_test)

403341

In [121]:
result.to_csv("drug_train.csv")
drug_test.to_csv("drug_test.csv")

In [122]:
len((drug_test))

2602