In [15]:
import pandas as pd
d = pd.read_csv("./data/small_test.csv")

In [17]:
d.drop('Unnamed: 0.1', axis=1, inplace=True)

In [19]:
d.columns = ['combo', 0, 1, 2, 3, 4]

In [20]:
d

                       combo          0          1          2    3    4
0   AMP1-CPR1-ERY3-FUS3-DOX1  24.312350  16.782384  19.978840  0.0  0.0
1   AMP1-CPR1-ERY3-FUS3-DOX2  52.224478  40.587185  40.821725  0.0  0.0
2   AMP1-CPR1-ERY3-FUS3-DOX3  51.043013  47.391391  38.000353  0.0  0.0
3   AMP1-CPR2-ERY1-FUS1-DOX1  73.195496  43.900020  42.232411  0.0  0.0
4   AMP1-CPR2-ERY1-FUS1-DOX2   0.941481   1.229915   5.307706  0.0  0.0
..                       ...        ...        ...        ...  ...  ...
61  AMP2-CPR1-ERY1-FUS2-DOX2  44.085218  31.417035  31.272016  0.0  0.0
62  AMP2-CPR1-ERY1-FUS2-DOX3  35.413941  26.802538  30.645793  0.0  0.0
63  AMP2-CPR1-ERY1-FUS3-DOX1  34.815922  21.572774  20.000000  0.0  0.0
64  AMP2-CPR1-ERY1-FUS3-DOX2  59.334704  59.046337  62.211350  0.0  0.0
65  AMP2-CPR1-ERY1-FUS3-DOX2  63.221828  73.197462  63.150685  0.0  0.0

[66 rows x 6 columns]

In [13]:
len(pd.read_csv("./data/small_train.csv"))

263